@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Roboto:wght@900&display=swap");

.container {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

.bar {
  width: 100%;
  margin-right: 100px;
  height: 2px;
  background-color: #efeff4;
  box-sizing: border-box;
  display: block;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.form {
  margin: 0;
  padding: 0;
}

.formTitle {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin-top: 5px;
  font-weight: 900;
  background-image: linear-gradient(
    109.6deg,
    rgba(45, 116, 213, 1) 11.2%,
    rgba(121, 137, 212, 1) 91.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  width: 60vw;
}

.form {
  width: 60vw;
  max-width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formColumn img {
  width: 150px;
  margin-left: 50px;
}

/*.form div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10vh;
  margin: 10px 4px;
} */

.form ::placeholder {
  font-size: 14px;
}

.form select {
  text-align: center;
  border-color: transparent;
  width: 10vw;
  height: 3vh;
  margin: 0px 5px;
  padding: 2px;
  border-radius: 6px;
  border: 0px solid none;
  font-family: "Roboto", sans-serif;
  color: grey;
}

.form input {
  height: 3vh;
  width: 20vw;
  text-align: center;
  padding: 2px;
  border-radius: 6px;
  border-color: transparent;
  margin: 10px 4px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

/*.input input:focus {
  outline-color: #4585c1;
}*/

.form option {
  text-transform: capitalize;
}

.form select {
  text-transform: capitalize;
  margin: 10px 4px;
}

.form div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.errors {
  display: block;
  color: red;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
}

.danger {
  outline-color: red !important;
  outline-width: 5px;
}

.btn {
  margin: 20px 0px;
  height: 5vh;
  width: 20vw;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 12px;
  background-image: linear-gradient(
    109.6deg,
    rgba(45, 116, 213, 1) 11.2%,
    rgba(121, 137, 212, 1) 91.2%
  );
  font-weight: 500;
}
.btn:hover {
  cursor: pointer;
  color: #fff;
  background-image: none;
  background-color: transparent;
  border: 2px solid #3175d5;
  color: #3175d5;
}

/* Error Button */

.btnError {
  margin: 20px 0px;
  height: 5vh;
  width: 20vw;
  color: #fff;
  border: none;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 12px;
  background-image: radial-gradient(
    circle 685.3px at 47.8% 55.1%,
    rgba(255, 99, 152, 1) 0%,
    rgba(251, 213, 149, 1) 90.1%
  );
}

.btnError p {
  font-size: 16px !important;
}
