.container {
  width: 100%;
  height: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 10%;
}

.create {
  height: 100%;
}

.container h1 {
  text-transform: capitalize;
  padding-left: 20px;
  font-size: 40px;
}

.add-pokemon-form {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
}

.add-pokemon-form input,
select {
  all: unset;
  width: 100%;
  padding: 10px 5px;
  padding-right: 0;
  color: gray;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid rgb(234, 234, 234);
}

.add-pokemon-form .select {
  display: flex;
  width: calc(100% + 10px);
  text-transform: capitalize !important;
}

.add-pokemon-form .select select:first-child {
  width: 100%;
  margin-right: 20px;
}

.add-pokemon-form .select select:last-child {
  width: 100%;
}

/* .add-pokemon-form select {
  background-color: #f2f2f2;
  width: 100%;
  margin: 10px 0px;
  padding: 5px 0px;
  border-radius: 8px;
  border: 2px solid rgb(234, 234, 234);
} */

.add-pokemon-form select:active {
  text-transform: capitalize !important;
}

.add-pokemon-form select:focus {
  outline: none;
}

.add-pokemon-form option {
  text-transform: capitalize;
}

.button {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.button button {
  position: absolute;
  right: -25px;
}

.errors {
  min-height: 25px;
  padding-left: 5px;
  font-size: 12px;
  color: #e76f51;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .add-pokemon-form input,
  select {
    all: unset;
    width: 100%;
    padding: 5px 5px;
    font-size: 12px;
    padding-right: 0;
    color: gray;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid rgb(234, 234, 234);
  }

  .button button {
    width: calc(100% + 5px);
    justify-content: center;
  }

  .create {
    height: 100%;
    width: 100%;
  }

  .create .button {
    width: calc(100% - 40px) !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
}

@media screen and (max-height: 768px) {
  .container {
    width: 90%;
  }

  .add-pokemon-form input,
  select {
    all: unset;
    width: 100%;
    padding: 5px 5px;
    font-size: 12px;
    padding-right: 0;
    color: gray;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid rgb(234, 234, 234);
  }
}
