.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 25vh;
  background: transparent;
}

.footer p {
  word-spacing: 1px;
  padding-bottom: 10px;
}
