:root {
  --main-color: #f1f1f1;
  --secondary-color: #b8c370;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(120deg, #f1f1f1 50%, #4585c1 0%);
  /*background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://i.imgur.com/tYSE9Ga.jpg");*/
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.bigContainer {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 50px;
}

.header img {
  width: 200px;
  margin-left: 2vw;
}

.header button {
  border-radius: 12px;
  margin-right: 25px;
  width: 5vw;
  height: 5vh;
  border: none;
  background-color: var(--main-color);
  font-size: 13px;
  cursor: pointer;
}

.header button:hover {
  background: #fff;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainText button {
  background-color: #000;
  color: white;
  width: 10vw;
  height: 5vh;
  border-radius: 12px;
  margin-top: 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.mainText button:hover {
  background-color: var(--main-color);
  color: black;
  border: 2px solid #000;
}

.main h1 {
  display: block;
  font-size: 70px;
  animation-name: fadeInLeft;
  animation-duration: 1s;
}

.main p {
  width: 33vw;
  margin-left: 20px;
  animation-name: fadeIn;
  animation-duration: 5s;
}

.main img {
  padding-right: 20px;
  padding-top: 20px;
  width: 600px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 25vh;
  background-color: transparent;
}

.footer p {
  word-spacing: 1px;
  margin-bottom: 10px;
}

/* CSS ANIMATIONS */

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
