.filters-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 0 0;
}

.filters-container button:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.filters-container button svg {
  font-size: 30px;
}

.modal {
  width: 90%;
  height: 100px;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid rgb(234, 234, 234);
  border-top: none;
  position: absolute;
  z-index: 10;
}

.filters {
  padding-top: 20px;
  padding: 0 10px;
  text-transform: capitalize !important;
}

.filters select {
  background-color: #f2f2f2;
  width: 100%;
  margin: 10px 0px;
  padding: 5px 0px;
  border-radius: 8px;
  border: 2px solid rgb(234, 234, 234);
  font-size: 12px;
  font-weight: 400;
}

.filters select:active {
  text-transform: capitalize !important;
}

.filters select:focus {
  outline: none;
}

.filters option {
  text-transform: capitalize;
}
